/dts-v1/;
#include "pxa1L88-dkb.dtsi"
/ {
	compatible = "mrvl,pxa1L88-ff-l55-v10", "mrvl,pxa1L88";
	soc {
		axi@d4200000 {	/* AXI */
			usbphy: usbphy@d4207000 {
				status = "okay";
			};

			/* SD card */
			sdh1: sdh@d4280000 {
				cd-gpios = <>;
			};
		};

		apb@d4000000 {
			pwm1: pwm@d401a000 {
				compatible = "marvell,pxa25x-pwm";
				reg = <0xd401a000 0x10>;
				#pwm-cells = <2>;
				status = "disabled";
			};

			pwm2: pwm@d401a400 {
				compatible = "marvell,pxa25x-pwm";
				reg = <0xd401a400 0x10>;
				#pwm-cells = <2>;
				status = "disabled";
			};

			pwm3: pwm@d401a800 {
				compatible = "marvell,pxa25x-pwm";
				reg = <0xd401a800 0x10>;
				#pwm-cells = <2>;
				status = "disabled";
			};

			pwm4: pwm@d401ac00 {
				compatible = "marvell,pxa25x-pwm";
				reg = <0xd401ac00 0x10>;
				#pwm-cells = <2>;
				status = "okay";
			};

			keypad: keypad@d4012000 {
				status = "disabled";
			};

			keyreset {
				status = "disabled";
			};

			gpio: gpio@d4019000 {
				status = "okay";
				/*
				 * In theorical, some gpios could be routed to
				 * multiple pins. So define the gpio-ranges in
				 * board file, not silicon file.
				 */
				gcb0: gpio@d4019000 {
					/* gpio offset, pin offset, nr pins */
					gpio-ranges = <&pmx 0 55 32>;
				};
				gcb1: gpio@d4019004 {
					gpio-ranges = <&pmx 0 87 23>;
				};
				gcb2: gpio@d4019008 {
					gpio-ranges = <&pmx 3 110 29>;
				};
				gcb3: gpio@d4019100 {
					gpio-ranges = <&pmx 0 139 3  &pmx 28 52 1>;
				};/* GPIO96 ~ GPIO98, GPIO124 */
			};
			pmx: pinmux@d401e000 {
				/* pin base, nr pins & gpio function */
				pinctrl-single,gpio-range = <
					/*
					 * GPIO number is hardcoded for range at here.
					 * In gpio chip, GPIO number is not hardcoded for range.
					 * Since one gpio pin may be routed to multiple pins,
					 * define these gpio range in pxa910-dkb.dts not pxa910.dtsi.
					 */
					&range 55 55 0	/* GPIO0 ~ GPIO54 */
					&range 110 32 0 /* GPIO67 ~ GPIO98 */
					&range 52 1 0	/* GPIO124 */
				>;

				/* MFP_LPM_FLOAT */
				mfp_pins_group_0: mfp_pins_group_0 {
					pinctrl-single,pins = <
						DF_IO8 AF4
						DF_IO9 AF0
						DF_IO10 AF0
						DF_IO11 AF0
						DF_IO12 AF0
						DF_IO13 AF0
						DF_IO14 AF0
						DF_IO15 AF0
						DF_WEn AF1
						DF_REn AF1
						DF_ALE_SM_WEn AF1
						DF_RDY0 AF1
					>;
					MFP_LPM_FLOAT;
				};

				/* MFP_PULL_LOW && MFP_LPM_PULL_FLOAT */
				mfp_pins_group_1: mfp_pins_group_1 {
					pinctrl-single,pins = <
						DF_nCS0_SM_nCS2 AF0
						DF_nCS1_SM_nCS3 AF1
						SM_nCS1 AF1
						GPIO15 AF0
					>;
					DS_MEDIUM;PULL_DOWN;EDGE_NONE;LPM_FLOAT;
				};

				/* MFP_PULL_LOW */
				mfp_pins_group_3: mfp_pins_group_3 {
					pinctrl-single,pins = <
						GPIO70 AF0
						GPIO97 AF0
						GPIO43 AF0
						GPIO44 AF0
						GPIO90 AF0
						GPIO92 AF0
						GPIO98 AF0
					>;
					MFP_PULL_DOWN;
				};

				/* MFP_PULL_FLOAT */
				mfp_pins_group_5: mfp_pins_group_5 {
					pinctrl-single,pins = <
						GPIO4 AF0
						GPIO36 AF0
						GPIO96 AF0
						GPIO67 AF0
						GPIO68 AF0
						GPIO69 AF0
						GPIO80 AF0
					>;
					MFP_PULL_FLOAT;
				};

				/* MFP_PULL_FLOAT && MFP_LPM_PULL_FLOAT */
				mfp_pins_group_6: mfp_pins_group_6 {
					pinctrl-single,pins = <
						GPIO32 AF0
						GPIO12 AF0
						SM_ADVMUX AF1
					>;
					DS_MEDIUM;PULL_FLOAT;EDGE_NONE;LPM_FLOAT;
				};

				/* MFP_DEFAULT */
				mfp_pins_group_7: mfp_pins_group_7 {
					pinctrl-single,pins = <
						GPIO124 AF0
						GPIO1 AF0
						GPIO3 AF0
						GPIO5 AF0
						GPIO6 AF0
						GPIO10 AF0
						GPIO11 AF0
						GPIO12 AF0
						GPIO13 AF0
						GPIO19 AF0
						GPIO20 AF0
						GPIO30 AF0
						GPIO31 AF0
						GPIO32 AF0
						GPIO33 AF0
						GPIO34 AF0
						GPIO35 AF0
						GPIO49 AF0
						GPIO50 AF0
						GPIO51 AF1
						GPIO52 AF1
						GPIO73 AF0
						GPIO74 AF0
						GPIO75 AF0
						GPIO76 AF0
						GPIO77 AF1
						GPIO78 AF0
						GPIO79 AF0
					>;
					MFP_DEFAULT;
				};

				sensor_pmx_ctrl: sensor_pmx_ctrl {
						pinctrl-single,pins = <
							GPIO71 AF0
							GPIO72 AF0
						>;
						DS_MEDIUM;PULL_UP;EDGE_NONE;LPM_NONE;
				};

				touch_pins: touch_pins {
					pinctrl-single,pins = <
						GPIO16 AF0
						GPIO17 AF0
					>;
					LPM_NONE;
				};
			};

			twsi0: i2c@d4011000 {
				touch1: s3202@720p {
					status = "disabled";
				};
				touch2: s3202@1080p {
					status = "disabled";
				};
				touch3: gt913@720p {
				/* cfg-group start from 0, so the value 1 means the second group */
					goodix,cfg-group = <1>;
					status = "ok";
				};
				touch4: gt913@1080p {
					status = "disabled";
				};
				plsensor: tsl2x7x@39 {
					compatible = "taos,tmd27713";
					reg = <0x39>;
					interrupt-parent = <&gpio>;
					interrupts = <14 0x1>;
					irq-gpios = <&gpio 14 0>;
					avdd-supply = <&ldo10>;
				};
			};

			twsi1: i2c@d4010800 {
				sensor1: isl29043@44 {
					status = "disabled";
				};
				sensor2: bmp18x@77 {
					status = "disabled";
				};
				sensor3: mpu9250@69 {
					status = "disabled";
				};
				sensor4: apds9930@39 {
					status = "disabled";
				};
				sensor5: mpu6500@68 {
					compatible = "invensense,mpu6500";
					reg = <0x68>;
					interrupt-parent = <&gpio>;
					interrupts = <92 0x2>;
					inven,irq-gpios = <&gpio 92 0x00>;
					avdd-supply = <&ldo10>;
					axis_map_x = <1>;
					negate_x = <1>;
					axis_map_y = <0>;
					negate_y = <1>;
					axis_map_z = <2>;
					negate_z = <1>;
					inven,secondary_axis_map_x = <0>;
					inven,secondary_negate_x = <0>;
					inven,secondary_axis_map_y = <1>;
					inven,secondary_negate_y = <1>;
					inven,secondary_axis_map_z = <2>;
					inven,secondary_negate_z = <1>;
					inven,secondary_type = "compass";
					inven,secondary_name = "ak09911";
					inven,secondary_reg = <0xc>;
					status = "ok";
				};
			};

			twsi2: i2c@d4037000 {
				pmic1: 88pm822@30 {

					/* set buck5 as 3.5V to disable APT, which is used for RF calibration*/
					marvell,pmic-board-cfg = <
						PM822_POWER_PAGE
						PM822_BUCK5
						0xff
						0x76

						PM822_POWER_PAGE
						PM822_BUCK5_1
						0xff
						0x72

						PM822_POWER_PAGE
						PM822_BUCK5_2
						0xff
						0x72

						PM822_POWER_PAGE
						PM822_BUCK5_3
						0xff
						0x72

						PM822_POWER_PAGE
						PM822_BUCK5_SLP
						0x7f
						0x72
					>;

					usb: usb {
						compatible = "marvell,88pm80x-usb";
						vbus-gpio = <2>;
						id-gpadc = <0xff>;
					};

					headset {
						marvell,headset-flag = <0>;
					};
				};
				pmic3: 88pm830@68 {
					/*
					 * charger, batttery parameters are based on ZTE Li3825T43P3h846739 battery
					 * Part Name: Lithium-ion Battery
					 * Pack Parts No.: ALE455557SA
					 * Pack Standard: 2500mAh(0.2C)
					 * Cell Model: FHP376679ART
					 */
					charger {
						fastchg-voltage = <4350 4350 4150>; /* mV for STR, LTR, HTR */
						fastchg-current = <1500 1000 1500>; /* mA for STR, LTR, HTR */
						over-voltage = <4600>; /* mV */
						no-thermal-support = <1>;
						thermal-threshold = <0x50 0x34 0x14 0xe>;
					};

					battery {
						bat-capacity = <2500>; /* mAh */
						ocv-table = <
							3306 3408 3485 3547 3592 3627 3654 3671 3683 3689
							3693 3696 3698 3701 3711 3722 3730 3738 3746 3751
							3755 3759 3763 3767 3771 3773 3776 3777 3779 3781
							3782 3783 3784 3786 3788 3790 3792 3794 3797 3799
							3802 3805 3808 3812 3816 3819 3823 3828 3832 3836
							3841 3846 3851 3857 3863 3870 3878 3888 3899 3911
							3923 3934 3944 3953 3961 3969 3977 3985 3993 4001
							4010 4019 4028 4037 4047 4056 4066 4076 4085 4095
							4105 4116 4126 4137 4147 4158 4169 4180 4191 4202
							4213 4224 4236 4247 4259 4271 4283 4295 4308 4321
						>;
						temp-range-num = <2>;
						switch-thr = <15 64>; /* C */
						gp0-bias-curr = <16 56 56>; /* uA */
						/* choose -20C, 0C, 10C, 45C, 50C, 60C as threshold */
						r-tbat-thr = <68236 27218 17925 4916 4160 3014>; /* ohm */
						ntc-table-size = <88>;
						/* -24C, -23C, ..., 62C, 63C */
						ntc-table = <
							83242 79166 75315 71676 68236 64990 61919 59011
							56257 53649 51177 48834 46613 44505 42506 40599
							38790 37072 35441 33892 32419 31020 29689 28423
							27218 26076 24987 23950 22962 22021 21123 20266
							19449 18669 17925 17213 16534 15885 15265 14673
							14107 13566 13048 12554 12080 11628 11194 10779
							10381 10000 9634  9283  8947  8624  8314  8018
							7733  7460  7199  6947  6706  6475  6252  6039
							5833  5635  5445  5262  5086  4916  4753  4597
							4446  4300  4160  4026  3896  3771  3651  3535
							3423  3315  3211  3111  3014  2922  2833  2748

						>;
					};
				};
			};

			backlight: pwm_bl {
				compatible = "pwm-backlight";
				pwms = <&pwm4 0 50000>;
				brightness-levels = <0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100>;
				default-brightness-level = <10>;
			};
		};
		soc-isp {
			couple-raw-sensor-support = <1>;
			status = "okay";
			backsensor {
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "marvell,backsensor";
				status = "okay";
				OV8825: sensor@3 {
					compatible = "marvell,ov8825","marvell,sensor";
					sensor-name = "ov8825";
					reg = <0x36>;
					adapter = <1>;
					type = <1>;
					interface = <0>;
					af_2v8-supply = <&ldo10>;
					avdd_2v8-supply = <&ldo11>;
					dovdd_1v8-supply = <&voutsw>;
					dvdd_1v2-supply = <&ldo12>;
					status = "okay";
					sensor_power {
						pinctrl-names = "default";
						pwdn-gpios = <&gpio 80 0>;
						reset-gpios = <&gpio 67 0>;
						pwdn-validvalue = <0>;
						reset-validvalue = <0>;
					};
					sensor_id {
						pid_addr = <0x300a 0x300b>;
						pid_value = <0x88 0x25>;
					};
					torch_flash {
						flash-gpios = <&gpio 18 0>;
						torcht-gpios = <&gpio 12 0>;
					};
				};
			};
		};

		soc-camera@0 {
			status = "disabled";
		};

		soc-camera@1 {
			status = "disabled";
		};
		soc-camera@2 {
			compatible = "soc-camera-pdrv";
			reg = <0x2 0x0>;
			status = "okay";
		};
	};

	panel1: lg4591 {
		status = "disabled";
	};

	panel2: r63311 {
		status = "disabled";
	};

	panel3: bp070wx1 {
		status = "disabled";
	};

	panel4: hx8394 {
		status = "disabled";
	};

	panel5: hx8394-ips3p5071 {
		compatible = "marvell,mmp-hx8394-ips3p5071";
		marvell,path-name = "mmp_pnpath";
		panel_esd = <0>;
		rst_gpio = <&gpio 4 0>;
		avdd-supply = <&ldo10>;
		status = "okay";
	};

	keyboard: gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		autorepeat;
		button@20 {
				label = "GPIO Key UP";
				linux,code = <115>;
				gpios = <&gpio 0 1>;
			};
		button@21 {
				label = "GPIO Key Down";
				linux,code = <114>;
				gpios = <&gpio 2 1>;
			};
	};

	gps: mmp-gps {
		/*
		 * we don't need ldo-en-gpio in L55 FF,
		 * but it was defined in dtsi that we included,
		 * so we override it with null value.
		 */
		ldo-en-gpio = <>;
		vgps-supply = <&ldo9>;
	};

	led-rgb {
		status = "disabled";
	};

	leds-gpio {
		compatible = "gpio-leds";
		button_led {
			label = "button-backlight";
			gpios = <&gpio 97 0>;
		};
	};
};
